version: '3.8'

services:
  db:
    image: mongo:6.0
    container_name: mongodb_container

  backend:
    build: ./backend
    container_name: backend_container
    extra_hosts:
      - "localhost:host-gateway" 
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "80:80"
    depends_on:
      - backend