version: '3.8'

services:
  db:
    image: mongo:6.0
    container_name: mongodb_container

  backend:
    build: ./backend
    container_name: backend_container
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "80:80" # nginx on frontend service
    depends_on:
      - backend