name: ci/cd.1.0

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-locally:
    # ГЛАВНОЕ: указываем, что работаем у себя дома
    runs-on: self-hosted

    steps:
      # 1. Забираем новый код из Гитхаба в папку раннера
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Собираем Docker-образ локально (называем его просто notes-app)
      - name: Build Docker Image
        run: docker build -t notes-app:latest .

      # 3. Перезапускаем контейнер
      # Сначала стопаем старый (|| true — чтобы не упало, если контейнера еще нет)
      - name: Run New Container
        run: |
          docker stop notes-app-container || true
          docker rm notes-app-container || true
          docker run -d \
            --name notes-app-container \
            -p 80:80 \
            notes-app:latest